body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(12, 226, 69);
  color: rgb(227, 33, 12);
}

h1 {
  color: rgb(244, 244, 244);
}
